* {
    margin: 0;
    padding: 0;
}

.nav img {
    width: 150px;
}

/*paleta de colores
.color1 {color: #84d1ff;}
.color2 {color: #dcf7ff;}
.color3 {color: #0f1b35;}
.color4 {color: #76777c;}
.color5 {color: #e2e2e2;}*/

.grilla {
    display: grid;
    grid-template-columns: 1fr 2.5fr 2.5fr 1fr;
    grid-template-areas:
        "nav header header header"
        "nav primeraSeccion primeraSeccion aside"
        "nav segundaSeccion segundaSeccion aside"
        "nav form form aside"
        "footer footer footer footer";
    background-color: #84d1ff;
}



.nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0f1b35;
}

.nav ul {
    margin-top: 40px;
    width: 100%;
}

nav li {
    list-style: none;
    padding: 20px;
    height: 30px;
    text-align: center;
}

nav li:hover {
    background-color: #065b75;
}

.nav a {
    color: #dcf7ff;
    text-decoration: none;
}

.nav img {
    animation-name: girar;
    animation-duration: 15s;

}

/*header*/


.header {
    grid-area: header;
    text-align: center;
    background-color: #dcf7ff;
    height: 15vh;
    padding-top: 20px;
    background-image: linear-gradient(to right, #0f1b35, #dcf7ff);
}

.header h1 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.header p {
    max-width: 850px;
    margin: 0 auto;
}

.primeraSeccion button:hover {
    transform: scale(1.1);
    background-color: black;
    color: white;
}

/* 
.segundaSeccion h3{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
*/


.primeraSeccion {
    grid-area: primeraSeccion;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name: primeraAnimacion;
    animation-duration: 10s;
}

.primeraSeccion p {
    max-width: 550px;
    text-align: center;
    margin: 1rem;
}

.primeraSeccion button {
    padding: .5rem;
    margin: 1rem;
}

.primeraSeccion h2 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

/*segunda seccion*/

.primeraSeccion h2 {
    font-size: 2rem;
}

.segundaSeccion {
    grid-area: segundaSeccion;
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.segundaSeccion p {
    display: flex;
}

.segundaSeccion div {
    display: flex;
    margin: 1rem .5rem;
}

.segundaSeccion img {
    max-height: 300px;
    margin-left: 2rem;
}

.segundaSeccion h3 {
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

/*adicional
.segundaSeccion p{
    display: flex;
    min-width: 150px;
    max-width: 300px;
}*/

.form {
    grid-area: form;
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form h3 {
    font-size: 2rem;
}

.form div {
    margin: 2rem;
    display: flex;
    flex-direction: column;
}

.form input {
    height: 2.5rem;
    width: 350px;
    text-align: center;
    border-radius: 15px;
    background-color: #dcf7ff;
    margin: 5px;

}

.form input[type=submit]:hover {
    background-color: black;
    color: white;
}

.form input:focus {
    width: 400px;
    transition: 2s;
    margin: 0 auto;
}

.aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dcf7ff;
}

.aside ul {
    margin-top: 40px;
    width: 100%;
}

aside li {
    list-style: none;
    padding: 20px;
    height: 30px;
    text-align: center;
}

aside li:hover {
    background-color: #065b75;
}

.aside a {
    color: #0f1b35;
    text-decoration: none;
}



.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, #0f1b35, #dcf7ff);
}

.footer i {
    font-size: 2rem;
}

@keyframes primeraAnimacion {
    0% {
        background-color: #84d1ff;
    }

    25% {
        background-color: #dcf7ff;
    }

    50% {
        background-color: #0f1b35;
    }

    75% {
        background-color: #76777c;
    }

    100% {
        background-color: #e2e2e2;
    }

}

@keyframes girar {
    0% {
        transform: rotatez(45deg);
    }

    50% {
        transform: rotatez(90deg);
    }

    100% {
        transform: rotatez(180deg);
    }

}

@media(max-width:768px) {
    .grilla {
        grid-template-areas:
            "nav nav nav nav"
            " header header header header"
            "primeraSeccion primeraSeccion primeraSeccion primeraSeccion"
            "segundaSeccion segundaSeccion segundaSeccion segundaSeccion"
            "form form form form"
            "footer footer footer footer";
    }

    .aside {
        display: none;
    }

    .nav {
        flex-direction: row;
    }

    .nav ul {
        display: flex;
        flex-direction: row;
    }


}